body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 50%;
  height: 2rem;
  margin-top: 5rem;
}

.button-line {
  width: 50%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: blueviolet;
}

#b-eq {
  width: 70%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
